.partners {
    padding: 52px 0 49px;

    &__wrap {
        display: flex;
        margin: 0 -15px;
    }

    &__item {
        border: 1px solid #e9ebf0;
        width: calc((100% / 6) - 30px);
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;

        img {
            max-width: 111px;
            max-height: 111px;
        }
    }
}